# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
venv/

# Packaging
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/
notebooks/


# =========================
# Project data
# =========================
data/
data/raw/
data/processed/
outputs/
checkpoints/
notebooks/*.ipynb
IMAGE_MODELS/
models/


# Large ML artifacts
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.onnx

# Raster / imagery
*.tif
*.tiff

# Archives
*.zip
*.tar
*.gz
*.xlsx

# OS / editor
.DS_Store
Thumbs.db
.vscode/settings.json